.card_mob {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.card_about {
  display: flex;
  width: 288px;
  align-items: flex-start;
  gap: 16px;
}

.prewiew_mob {
  position: relative;
}

.card_mob .card_image {
  width: 80px;
  height: 106px;
}

.ckeckbox_mob {
  position: absolute;
  left: 4px;
  top: 4px;
  background-color: var(--system-white, #fff);
}

.size_mob {
  position: absolute;
  left: 4px;
  bottom: 4px;

  display: flex;
  width: 14px;
  height: 19px;
  padding: 0px 4px 3px 4px;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: var(--light-system-white, #fff);

  color: var(--light-system-text, #000);
  text-align: center;

  /* Мобильный сайт/Body-2 */
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.card_info_mob {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  flex: 1 0 0;
}

.cost_mob {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
  align-self: stretch;
}

.cost_mob .price {
  color: var(--text-black, #000);
  text-align: right;

  /* Сайт/H4 */
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.cost_mob .last_price {
  color: var(--system-gray, #9797af);

  /* Сайт/Caption */
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}

.card_info_mob .card_name {
  color: var(--text-black, #000);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Мобильный сайт/Body-2 */
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.card_info_mob .color {
  color: var(--text-black, #000);

  /* Сайт/Caption */
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  padding-top: 5px;
}
.card_info_mob .company_store {
  color: var(--system-gray, #9797af);

  /* Сайт/Caption */
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
  padding-top: 6px;
}
.card_mob .sum {
  display: flex;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 16px;
  width: 100%;
  padding: 0;
}
.card_mob .good_counter {
  display: flex;
  width: 80px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--system-white, #fff);
}



.card_mob .good_count_mob {
  display: flex;
  padding: 4.333px 0px 7.667px 0px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.card_mob .balance {
  /* width: 100; */
  color: var(--dark-system-coral, #ff3b30);
  display: flex;
  flex: 1 0 0;
  /* Сайт/Caption */
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
.card_mob .balance_count {
  margin: 0 3px;
}
.card_mob .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 12px; */
  gap: 24px;
}

@media (max-width: 620px) {
  .card_mob {
    display: flex;
  }
}
